.chat__content {
  width: 100%;
  height: 100%;
  max-width: 656px;
  min-height: 400px;
  max-height: 600px;
  padding: 0 24px;
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
  overflow-y: auto;
}

.chat__content-date {
  color: #666668;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.26px;
  margin-top: 16px;
  text-align: center;
}

.user-message,
.bot-message {
  margin-bottom: 6px;
}

.user-message {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  color: #ffffff;
}

.bot-message {
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.bot-avatar {
  margin: 0 10px;
}

.chat__message,
.chat__message-bot {
  max-width: max-content;
  background-color: #007aff;
  border-radius: 6px;
  padding: 4px 6px;
  display: flex;
  align-items: end;
}

.chat__message:first-child::after {
  content: url("/user-bubble-left.svg");
  position: relative;
  left: 15px;
}

.chat__message-bot {
  background-color: #f2f2f7;
}

.chat__message-bot:first-child::before {
  content: url("/bot-bubble-left.svg");
  position: relative;
  right: 15px;
}

.chat__message-content {
  margin: 0 6px 20px;
}

.chat__message-text {
  max-width: 200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.chat__message-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.26px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.name {
  color: #2c2c2e;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 4px;
}

.role {
  padding-left: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.26px;
}

.user-message__buttons {
  margin-top: 4px;
  color: black;
}

.user-message__buttons_update {
  margin-right: 8px;
}

.user-message__buttons_update:hover,
.user-message__buttons_delete:hover {
  color: #007aff;
}
