header {
  width: 100%;
  max-width: 656px;
  height: 68px;
  padding: 0 24px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #2c2c2e;
  padding-bottom: 4px;
}

.time {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.26px;
  color: #666668;
}

.nav-burger {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.dot {
  width: 100%;
  border-radius: 50%;
  height: 3px;
  background-color: #666668;
}
