.footer {
  width: 100%;
  max-width: 656px;
  padding: 0 24px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  position: relative;
}

.footer__input {
  width: 90%;
  display: flex;
}

input {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  padding: 15px 0;
}

.footer__input-emoji,
.footer__button-upload {
  margin-right: 16px;
}

.footer__button-send_disable {
  color: #8e8e93;
  cursor: default;
}

.footer__button-send,
.footer__button-upload:hover {
  color: #007aff;
  cursor: pointer;
}
